*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: all 1s ease-in-out; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    padding-left: 150px;
}
left-nav h3{
    margin-top: -3px;
}
nav-right ul{
    display: flex;
    list-style-type: none;
}
nav-right ul li a{
    padding-left: 22px;
    text-decoration: none;
    color: black;
    transition: all 0.5s ease-out;
}
nav-right ul li a:active{
    color: #613dc1;
}
nav-right ul li a:hover{
    color: #613dc1;
    text-decoration: underline;
}
nav-right button{
    background: transparent;
    border: none;
    padding-left: 0px;
    color: whitesmoke;
}
.light-mode button{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0px 10px;
    border-radius: 10px;
    transition: all 1s ease-in-out;
    animation-name: animate;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0);
}
.light-mode button:hover{
    background-color: rgba(0, 0, 0);
    box-shadow: 1px 0px 5px 5px rgba(0, 0, 0);
    transform: translateY(-2px);
    animation: none;
}
.light-mode :active{
    box-shadow: 0px 0px 0px 0px grey;
    transform: translateY(0px);
}

.menu{
    display: none;
}
#menu{
    display: none;
}


/* for 1st content css */

#content1{
    display: flex;
}
.links{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    padding-top: 150px;
    padding-left: 250px;
    padding-right: 50px;
}
.links i{
    padding: 6px;
    color: #a787ff;
    transition: all 0.5s ease-in-out;
}
.links i:hover{
    padding: 6px;
    color: #613dc1;
}

.my-details{
    padding: 80px 0px;
    color: rgba(0, 0, 0, 0.8);
    width: 390px;
}
.my-details span{
    font-size: 1.5rem;
}
.my-details p{
    padding-top: 15px;
}
.my-details h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-weight: bold;
    font-size: 2.5rem;
    padding-bottom: 5px;
    margin-top: -10px;
}
.my-details button{
    color: antiquewhite;
    background-color: #603dc1dc;
    border: none;
    font-size: 0.95rem;
    padding: 10px 40px;
    border-radius: 10px;
    margin: 25px 0px;
    font-stretch: ultra-expanded;
    transition: all 0.3s ease-out;
}
.my-details button:hover{
    background-color: #613dc1;
    box-shadow: 0px 3px 2px 1px grey;
    transform: translateY(-2px);
}
.my-details button:active{
    background-color: #613dc1;
    box-shadow: 0px 0px 1px 1px grey;
    transform: translateY(0px);
}

.my-photo{
    height: 250px;
    margin: 100px;
    margin-left: 50px;
    padding-top: 10px;
    border-radius: 43% 57% 45% 55% / 25% 30% 70% 75% ;
    background-image: url(img/Resumepic-removebg-preview.png);
    background: linear-gradient(150deg,#2742ac,#603dc1ac );
    transition: all 1s ease-out;
}
.my-photo:hover{
    box-shadow: 0px 0px 10px 2px grey;
}


/* About me section CSS */

.head{
    margin-top: 25px;
    text-align: center;
    font-size: 2rem;
}
.head span{
    font-weight: 600;
}
.head p{
    font-size: 0.8rem;
    font-weight: 100;
}
.about-main{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.about-main .left img{
    height:320px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 5px lightgray;
    background: linear-gradient(250deg,#2546cb,#603dc1ec);
}

.about-main .left img:hover{
    box-shadow: 0px 0px 10px 2px grey;
}
.about-main .right{
    width: 500px;
    padding: 25px 0px;
    color: rgba(0, 0, 0, 0.9);
}

.left-table table{
    padding-top: 25px;
}
.left-table td:nth-child(2){
    padding-left: 25px;
}
.left-table td i{
    color: #603dc1b1;
    font-size: 1rem;
}
.left-table a {
    text-decoration: none;
    color: black;
}

.left{
    display: flex;
}
.left-table{
    display: none;
}


.right table{
    padding-top: 25px;
}
.right td:nth-child(2){
    padding-left: 25px;
}
.right td i{
    color: #603dc1b1;
}
.right a {
    text-decoration: none;
    color: black;
}
.cv-btn a{
    color: antiquewhite;
}
.about-main button{
    padding: 10px 40px;
    border-radius: 10px;
    color: antiquewhite;
    border: none;
    background-color: #603dc1dc;
    transition: all 0.3s ease-in-out;
    margin: 30px auto;
    font-size: 0.95rem;
}
.about-main button:hover{
    box-shadow: 0px 3px 2px 1px grey;
    color: white;
    background-color: #613dc1;
    transform: translateY(-2px);
    
}
.about-main button:active{
    transform: translateY(0px);
    box-shadow: 0px 0px 0px 0px grey;
}

/* css for the skills section */
#skills{
    margin-top: 50px;
}
.skill-content{
    display: flex;
    justify-content: space-around;
    padding: 25px;
}
.skill-content ul li{
    list-style-type: none;
    padding-top: 1rem;
    color: rgba(0, 0, 0, 0.9);
}
.skill-content h3{
    letter-spacing: 1px;
    margin-top: 50px;
}
.technical i,.skill-self i{
    padding: 10px;
    color: antiquewhite;
    border-radius: 50%;
    background-color: #603dc1dc;
}
.skill-bars p{
    letter-spacing: 1px;
}
.skill-bars p i{
    color: #603dc1b7;
    padding: 5px;
}
.skill-bars p i:hover{
    color: #613dc1;
}
.bars-shadow{
    border: 1px solid #603dc1d2;
    width: 200%;
    border-radius: 5px;
    margin-left: 120px;
    margin-top: -14px;
}
.bars{
    border: 3px solid #613dc1;
    border-radius: 5px;
    margin-left: 120px;
    margin-top: -4px;
}
.bar1{
    width: 160%;
}
.bar2{
    width: 180%;
}
.bar3{
    width: 120%;
}
.bar4{
    width: 150%;
}
.bar5{
    width: 85%;
}
.bar6{
    width: 160%;
}

.more-skills{
    letter-spacing: 2px;
}

/* Education section CSS */
.education-content{
    margin-top: 60px;
    padding-bottom: 250px;
}
.education-content p{
    text-align: center;
    color: #603dc1;
    font-size: 1.2rem;
}
#education{
    margin-top: 100px;
}
.connection{
    padding: 15px;
}
.connection span{
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.9rem;
}
.education1{
    text-align: end;
    margin-top: -20px; 
    padding-right: 675px;
}
.education2{
    margin-left: 675px;
    margin-top: -20px;
}
.education3{
    text-align: end;
    margin-top: -20px; 
    padding-right: 675px;
}
.line{
    border: 2px solid #603dc1b1;
    width: 190px;
    height: 1px;
    transform: rotate(90deg);
    margin-left: 548px;
    margin-top: -155px;
}

/* Contact with me - CSS */
.contact-content{
    border: none;
    background: linear-gradient(290deg,#603dc1ee,#613dc1);
    height: 400px;
    width: 75%;
    margin: 60px auto;
    margin-top: 70px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    color: antiquewhite;
}
.contact-content img{
    height: 400px;
}
.right-contact{
    width: 55%;
}
.right-contact h2{
    font-size: 4rem;
    padding: 25px;
    text-align: center;
}
.form{
    margin-top: -10px;
    display: flex;
    justify-content: space-around;
}
.form input{
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    color: white;
    width: 120%;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom-right-radius: 5px;
}
.form table td{
    padding: 10px 0 0 0;
}
.form td button{
    width: 120%;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 10px ;
    margin-top: 10px;
    font-weight: bold;
    background-color: whitesmoke;
    transition: all 0.5s;
}
.form td button:hover{
    background-color: white;
    box-shadow: 0px 3px 2px 0px black;
    transform: translateY(-2px);
}
.form td button:active{
    box-shadow: 0px 0px 0px 0px black;
    transform: translateY(0px);
}
.more-contact p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: .8rem;
    padding-top: 10px;
}
.more-contact a{
    text-decoration: none;
    color: white;
}
.more-contact p:nth-child(1),p:nth-child(3){
    font-size: 1.3rem;
}
.more-contact p:nth-child(3){
    margin-top: 30px;
}
.more-contact p:nth-child(5){
    margin-top: -10px;
}

.contact-icons{
    padding: 55px 0px ;
    font-size: 1.25rem;
}
.contact-icons i{
    padding-right: 25px;
    color: antiquewhite;
    transition: all 0.5s ease-in-out;
}
.contact-icons i:hover{
    transform: scale(1.1);
    color: white;
}

/* Css for the footer area */

footer{
    height: 50px;
    width: 100%;
    background-color: #613dc1;
    box-shadow: 0px -10px 50px 10px rgba(128, 128, 128, 0.75);
    box-shadow: inset 0px 10px 12px -5px whitesmoke;
    
    display: flex;
    justify-content: space-around;
    padding: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
}
.copyright{
    color: whitesmoke;
    font-size: 0.9rem;
}


/* Animations */
/* 

create animation{ from - to // 0% - 100%}
then apply on the element in css
bu adding:-
Animation name
Animation duration
Animation iteration count
Animation delay 
animation direction
Animation timing function

*/


@keyframes animate {
    0%{
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0);
    }
    100%{
        box-shadow: 0px 0px 5px 5px black;
    }
}






/* Projects CSS here */
.project-content{
    padding: 50px 0px;
}
.project{
    display: flex;
    justify-content: space-around;
    padding: 50px 100px;
}
.project img{
    border-radius: 12px;
    opacity: 0.95;
    height: 300px;
    transition: all 0.25s ease-in-out;
}
.project img:hover{
    border-radius: 5px;
    opacity: 1;
    box-shadow: 5px 5px 2px 1px rgba(128, 128, 128, 0.5) ;
}
.project:nth-child(2){
    flex-direction: row-reverse;
}
.gym{
    text-align: end;
}


.project1{
    text-align: start;
    padding: 50px;
    letter-spacing: 0.2mm;
    width: 440px;
}
.project2{
    text-align: end;
    padding: 50px;
    letter-spacing: 0.2mm;
    width: 440px;
}
.project3{
    text-align: start;
    padding: 50px;
    letter-spacing: 0.2mm;
    width: 440px;
}

.project1 h3, .project2 h3, .project3 h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}
.project1 p, .project2 p, .project3 p {
    color: rgba(0, 0, 0, 0.8);
    margin: 25px 0px;
    line-height: 1.5;
}


.project button a {
    text-decoration: none;
    letter-spacing: 0.3mm;
    color: antiquewhite;
    font-size: 16px;
}
.project button{
    padding: 8px 25px ;
    border-radius: 10px;
    color: antiquewhite;
    background-color: #603dc1ff;
    border: none;
    margin-top: 25px;
    transition: all 0.3s ease-out;
}
.project button:hover{
    transform: translateY(-2px);
    box-shadow: 0px 2px 1px 0px grey; 
}
.project button:active{
    transform: translateY(0px);
    box-shadow: 0px 0px 0px 0px grey; 
}












.animation{
    width: 200px;
    height: 28px;
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.8),rgba(255, 255, 255,0.9),rgba(255, 255, 255));
    position: absolute;
    top: 0;
    animation: job;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 800ms;
}


@keyframes job {
        0%{
            left:0px;
            width: 200px;
        }
        30%{
            left: 50px;
            width: 160px;
        }
        35%{
            left: 55px;
            width: 130px;
        }
        50%{
            left: 90px;
            width: 100px;
        }
        80%{
            left: 190px;
            width: 10x;
        }
        90%{
            left: 200px;
            width: 0px;
        }
        100%{
            left:0px;
            width: 200px;
        }
}
@keyframes job2 {
    0%{
        left:0px;
        width: 150px;
    }
    30%{
        left: 30px;
        width: 130px;
    }
    35%{
        left: 36px;
        width: 120px;
    }
    50%{
        left: 60px;
        width: 100px;
    }
    90%{
        left: 150px;
        width: 0px;
    }
    100%{
        left: 0px;
        width: 150px;
    }
}




@media (max-width:645px) {
    .animation {
        width: 10px;
        animation-name: job2;
        animation: job2;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 800ms;
    }
    .welcome{
        padding: 5px;
    }

}

.tabs{
    z-index: 1;
}


/* Welcome screen */
.welcome{
    box-sizing: border-box;
    padding: 25px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    animation-name: welcome;
    animation-duration: 2.75s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    transition: all 1s;
    position: absolute;
    top: -150%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.welcome p {
    margin-top: -100px;
}

@keyframes welcome{
    0%{
        background-color: #603dc1;
        top: 0%;
        background: linear-gradient(180deg,#603dc1,#603dc1);
        color: #603dc1;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.2rem;
        box-shadow: 0px -5px 10px 2px #603dc1;
    }
    50%{
        background-color: #603dc1;
        top: 0%;
        background: linear-gradient(180deg,#603dc1,#603dc1);
        color: white;
        font-size: 1.3rem;
        box-shadow: 0px 0px 0px 2px #603dc1;
    }
    80%{
        background-color: #603dc1;
        top: -100%;
        background: linear-gradient(180deg,#603dc1,#603dc1d8);
        color: white;
        font-size: 4.5rem;
        box-shadow: 0px -25px 50px 5px #603dc1;
    }
    90%{
        background-color: #603dc1;
        top: -100%;
        background: linear-gradient(190deg,#603dc1,#603dc100);
        color: white;
        font-size: 5rem;
    }
    100%{
        background-color: transparent;
        top: -150%;
        color: transparent;
        font-size: 1.5rem;
    }
}




